@import 'club/variables';

@import '~bootstrap/scss/bootstrap';

body {
  min-height:      100vh;
  display:         flex;
  align-items:     center;
  justify-content: center;
  padding-top:     2rem;
  padding-bottom:  2rem;
}

.container {


}
