@import 'club/variables';

@import '~bootstrap/scss/bootstrap';

body {
  min-height:      100vh;
  display:         flex;
  align-items:     center;
  justify-content: start;
  flex-direction:  column;
  padding-top:     2rem;
  padding-bottom:  2rem;
  
  @include media-breakpoint-up(lg) {
    justify-content: center;
  }
}

.fab {
  position: fixed;
  bottom:   1rem;
  right:    1rem;
  z-index:  100;
}

@media print {
  @page {
    size: a4 landscape;
    
  }
  
  :root {
    --bs-body-color: black;
    --bs-body-bg:    white;
    --bs-dark-rgb:   255, 255, 255;
  }
  
  body > header.py-5 {
    padding-top:    0 !important;
    padding-bottom: 1rem !important;
  }
  .container {
    max-width: 100% !important;
  }
  
  .card-header {
    padding: 1rem !important;
    
    h2 {
      font-size: 1.2rem !important;
    }
  }
  
  .card-body {
    padding: 1rem !important;
  }
  
  .list-unstyled {
    margin-bottom: 0 !important;
  }
  
}
