/*
--ion-color-primary: #ab8e54;
--ion-color-primary-dark: #645330;
--ion-color-secondary: #1c1c1d;*/

$primary: #ab8e54;
$primary-dark: #645330;
$secondary: #1c1c1d;
$dark: $secondary;
$light: #fff;

$body-bg: #000000;
$body-color: $light;
